@import "fonts.css";
.sidebar-content {
  background-color: black;
  font-family: fontRegular;
}
.sidebarTitle {
  font-family: fontBold;
  font-size: 2rem;
  color: white;
  text-align: center;
  padding: 1rem;
}
.sidebar-link {
  font-size: 1.2rem;
}
.sidebar-link:hover {
  font-weight: bolder;
}
